@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Source+Sans+Pro:ital,wght@0,900;1,900&display=swap');

:root{
  --page-color: rgb(51, 110, 100);
  --text-color: rgb(28, 59, 55);
  --palette-color-1: rgb(0, 0, 0);
  --palette-color-2: rgb(0, 0, 0);
  --palette-color-3: rgb(0, 0, 0);
  --palette-color-4: rgb(0, 0, 0);
  --position: 0px;
}

body{
  background-color: var(--page-color);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

@keyframes fadeInAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.palette-container{
  position: relative;
  display: inline-block;
  margin-left: 30%;
  padding: 50px;
  width: 300px;
  height: 400px;
}

.description-container{
  position: absolute;
  display: inline-block;  
  margin-left: 0%;
  margin-right: 50%;
  width: 400px;
  height: 400px;
  padding: 50px;
  font-size: 50px;
  color: var(--text-color);
}

.copy-container{
  padding: 20px;
  width: 80px;
  height: 80px;
}
.copy1{
  position: absolute;
  width: 40px;
  height: 57px;
  border-radius: 8px;
  border: 5px solid var(--text-color);
  background-color: var(--page-color);
}
.copy2{
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 57px;
  border-radius: 8px;
  border: 5px solid var(--text-color);
  background-color: var(--page-color);
}
.copy-line-initial{
  margin-top: 6px;
  margin-left: 12px;
  width: 22px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--text-color);
}
.copy-line{
  margin-top: 4px;
  margin-left: 7px;
  width: 27px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--text-color);
}

.palette1{
  position: absolute;
  width: 175px;
  height: 175px;
  margin-left: 0px;
  transition: margin-left 0.25s;
  border-radius: 15px;
  background-color: var(--palette-color-1);
}
.palette1:hover{
  position: absolute;
  width: 175px;
  height: 175px;
  margin-left: 34px;
  transition: margin-left 0.25s;
  border-radius: 15px;
  background-color: var(--palette-color-1);
}

.palette2{
  position: absolute;
  margin-top: 58px;
  margin-left: 58px;
  transition: margin-left 0.25s;
  width: 175px;
  height: 175px;
  border-radius: 15px;
  background-color: var(--palette-color-2);
}
.palette2:hover{
  position: absolute;
  margin-top: 58px;
  margin-left: 92px;
  transition: margin-left 0.25s;
  width: 175px;
  height: 175px;
  border-radius: 15px;
  background-color: var(--palette-color-2);
}

.palette3{
  position: absolute;
  margin-top: 116px;
  margin-left: 116px;
  transition: margin-left 0.25s;
  width: 175px;
  height: 175px;
  border-radius: 15px;
  background-color: var(--palette-color-3);
}
.palette3:hover{
  position: absolute;
  margin-top: 116px;
  margin-left: 150px;
  transition: margin-left 0.25s;
  width: 175px;
  height: 175px;
  border-radius: 15px;
  background-color: var(--palette-color-3);
}

.palette4{
  position: absolute;
  margin-top: 174px;
  margin-left: 174px;
  transition: margin-left 0.25s;
  width: 175px;
  height: 175px;
  border-radius: 15px;
  background-color: var(--palette-color-4);
}
.palette4:hover{
  position: absolute;
  margin-left: 207px;
  transition: margin-left 0.25s;
  width: 175px;
  height: 175px;
  border-radius: 15px;
}

.ui-container{
  text-align: center;
  margin-top: 50px;
  padding: 50px;
  font-size: 80px;
  color: var(--text-color);
}

.footer{
  position: fixed;
  text-align: center;
  margin-bottom: 60px;
  bottom: 0;
  width: 100%;
  color: var(--text-color);
  font-size: 40px;
}